table {
border: solid 1px black;
border-collapse: collapse;
}
th, td {
border: solid 1px black;
}
#title{font-family: arial;
}
thead {
font-family: arial;
background-color: #ccddee;
}
tfoot {
background-color: #ddccee;
font-family: times, serif;
font-size: .9em;
font-style: italic;
}
td:hover {
color: white;
background-color: #722750;
}

.tables {

    border-collapse: collapse;
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;


}

.tables tr:nth-child(even){background-color: #f2f2f2;}